{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="container">
    <div class="pb-4 pt-4 text-center card">
        <form action="/register" method="post">
            <div class="mb-3">
                <select class="form-select mx-auto w-auto" name="role" required>
                    <option disabled="" selected="">Role</option>
                    <option value="Therapist">Therapist</option>
                    <option value="Patient">Patient</option>
                </select>
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
                    placeholder="Username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password"
                    type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="confirmation"
                    placeholder="Password (again)" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}